
body {
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

body, input, button {
    font-family: "Courier New", Courier, monospace;
}

.title {
    margin-left: 20px;
}

.outline {
    border: 1px solid #6f6f6f;
    padding: 10px;
    margin: 10px;
}

.outline .outline {
    border: 1px solid #9f9f9f;
}

.outline .outline .outline {
    border: 1px solid #ffffff;
}

.number-input-container, .boolean-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input, button {
    appearance: none;
    outline: none;
    border: 1px solid #ffffff;
    padding: 4px;
    background-color: #1a1a1a;
    color: #ffffff;
    transition: 0.2s;
}

input:hover, button:hover {
    background-color: #303030;
}

.number-input-container button, .boolean-input-container button {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

input:disabled, button:disabled {
    background-color: #505050;
    cursor: default;
}

.number-input-container button {
    border-left: none;
}

.boolean-input-container button:nth-child(2) {
    border-left: none;
}

.grey-text {
    color: #808080;
}

#canvas {
    background-color: #1a1a1a;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 0;
    margin-right: 0;
}

.config-container, .canvas-info, .export-container {
    margin-right: 600px;
}

.two-number-input p {
    margin-right: 10px;
    margin-left: 10px;
}